@import "bourbon";
@import "variables/variables";
@import "mixins/mixins-master";

@import "vendor/leaflet/leaflet-draw";
@import "vendor/leaflet/leaflet-draw-toolbar";
@import "vendor/leaflet-custom";
@import "vendor/wp_tinymce";
@import "vendor/simple-color-picker";

@import "portions/clearfix";
@import "portions/block";
@import "portions/uploader";
@import "portions/popover";

@import "components/editor-components";


.geom-map {
    margin: 0 auto;
    z-index: 29;    // gb's right sidebar: 91; gb's edit-post-header: 30;
    &.leaflet-pseudo-fullscreen {
        z-index: 99999;
    }
}

.geom-color-picker {
    overflow: hidden;
}

.geom-placeholder {
    color: #72777c; // same as ::-moz-placeholder
}

// ??? responsive media query ....
.geom-left {
    float: left;
}

.geom-rigth {
    float: right;
}

.geom-half-width {
    width: 45%;
}