$color_base: rgba( 200, 200, 200, 1 );



$color_background_light:            #fff;
$color_background_light_darken_1:   #f5f5f5;
$color_background_light_darken_2:   #e8e8e8;

$color_background_dark:             rgba(86,86,86,1);    // footer

$color_highlight:                   #3fa9f5;
$color_highlight_1:                 #8bc53d;

$color_text_base:                   #333;
$color_text_light:                  #fff;
$color_text_light_darken_1:         #d1d1d1;

$color_border: #ddd;
$color_error: #a94442;


$border_radius: 3px;
$btn_transparency: 0;

