

.geom-flex-row {

    @include for-small-up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > * {
            flex: 1;
        }
    }

}



.geom-inline-block {
    display: inline-block;
}




/*
 *    base
 */
$color__panel_bg: transparentize($color_background_dark, 0.95);
.geom-panel.components-panel__body {
    border: 1px solid #666;
    background: $color__panel_bg;
    font-size: initial;
    margin: 0.5em 0px 0.5em 0;

    .components-panel__body-toggle {
        font-size: 16px !important;
        outline: none;
        background: $color__panel_bg;
        &.components-button:focus:not(:disabled):not([aria-disabled="true"]),
        &.components-button:not(:disabled):not([aria-disabled="true"]):focus{
            outline: none;
            background: $color__panel_bg;
        }
    }

    .components-base-control {
        margin: 0;
    }

}


/*
 *    features panel
 */
.geom-panel.geom-components-features-panel {

    .geom-components-features-list-item,
    .geom-components-features-list-header {
        background-color: $color__panel_bg;
        padding: 0 0.5em;
        border-style: dotted;
        border-width: 1px;

        display: flex;

        &.highlight {
            background-color: transparentize( $color_highlight, 0.7 );
        }

        & > * {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
        }

        &-title {
            font-weight: bold;
            flex: 2;
        }

        &-status {
        }

        &-author {
        }

        &-actions {
            line-height: normal;
            margin-top: 3px;
            margin-right: 0;
            flex: none;
            width: 110px;
            text-align: right;

            & > * {
                margin-right: 0.3em;
                &:last-child {
                    margin-right: 0;
                }
            }

            .components-button {
                padding: 0;
                border-color: #666;
                svg {
                    vertical-align: middle;
                }
            }


        }
    }

    .geom-components-features-list-header {
        border: none;
        background: none;
        margin-bottom: 0.5em;
        width: 97%;
    }
}


/*
 *    settings panel
 */
.geom-panel.geom-components-settings-panel {
    &-controls-layers select {
        min-height: 125px;
    }
    &-controls-view-zoom select {
        min-height: 50px;
    }

    // Loading Placeholder Color
    .geom-color-palette {
        &-display {
            width: 30px;
            display: inline-block;
            height: 30px;
            line-height: normal;
            float: left;
            vertical-align: middle;
            margin-right: 1em;
        }
        .components-color-palette__clear {
            display: none;
        }
    }


}








.backform.geom-form {

    &.geom-fullscreen {
        position: fixed;
        width: 94%;
        height: 94%;
        padding: 3%;
        top: 0px;
        left: 0px;
        z-index: 99999;
        background: #fff;
        display: flex;
        flex-direction: column;
        .control-group {
            &-tab-content {
                flex-grow: 1;
            }
        }
    }

    .control-group {
        &-tabs {
            margin-bottom: 1em;
        }

        &-tab-content {
            overflow-y: scroll !important;  // important because editor might overwrite
            overflow-x: hidden !important;

            &.titleContent {
                input[name="title"] {
                    border: none;
                    font-size: inherit;
                }
            }
        }
    }

    .form-group {

        &.control-spacer {
            @include clearfix();
            clear: both;
        }

        &.geom-icon-choose {
            .icon-preview { // img
                float: left;
                height: auto;
                width: auto;
                max-height: 70px;
            }
            a {
                float: right;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.geom-coord {
            max-width: 45%;
            input {
                max-width: 100%;
            }
        }

        &.left {
            float: left;
        }
        &.right {
            float: right;
        }

    }

}

