












.geom-panel {
    .components-panel__body {
        border: none;
        &-toggle {
            font-size: 16px !important;
        }
    }
}

.geom-components-features-panel {
    font-size: initial;

    .components-button:not(:disabled):not([aria-disabled="true"]):focus {
        box-shadow:none;
    }

    &-controls {
        select {
            min-height: 100px;
        }
    }
}

.geom-components-features-list {

    &-item {
        background-color: $color_background_light_darken_1;
        padding: 0 0.5em;

        &.highlight {
             background-color: transparentize( $color_highlight, 0.8 );
        }

        & > * {
            margin-right: 0.5em;
            &:last-child {
                margin-right: 0;
                float: right;
            }
        }

        &-id {

        }

        &-title {
            font-weight: bold;
        }

        &-actions {

            & > * {
                margin-right: 0.1em;
                float: left;
                &:last-child {
                    margin-right: 0;
                }
            }

            line-height: normal;

            .components-button {
                padding: 0;
                svg {
                    vertical-align: middle;
                }
            }


        }
    }
}


.geom-components-settings-panel {
    &-controls-layers select {
        min-height: 125px;
    }
    &-controls-view-zoom select {
        min-height: 50px;
    }

    .geom-color-palette {

        &-display {
            width: 30px;
            display: inline-block;
            height: 30px;
            line-height: normal;
            float: left;
            vertical-align: middle;
            margin-right: 1em;
        }

        .components-color-palette__clear {
            display: none;
        }
    }
}





.backform.geom-form {

    &.geom-fullscreen {
        position: fixed;
        width: 94%;
        height: 94%;
        padding: 3%;
        top: 0px;
        left: 0px;
        z-index: 99999;
        background: #fff;
        display: flex;
        flex-direction: column;
        .control-group {
            &-tab-content {
                flex-grow: 1;
            }
        }
    }

    .control-group {
        &-tabs {
            margin-bottom: 1em;
        }

        &-tab-content {
            overflow-y: scroll !important;  // important because editor might overwrite
            overflow-x: hidden !important;

            &.titleContent {
                input[name="title"] {
                    border: none;
                    font-size: inherit;
                }
            }
        }
    }

    .form-group {

        &.control-spacer {
            @include clearfix();
            clear: both;
        }

        &.geom-icon-choose {
            .icon-preview { // img
                float: left;
                height: auto;
                width: auto;
                max-height: 70px;
            }
            a {
                float: right;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.geom-coord {
            max-width: 45%;
            input {
                max-width: 100%;
            }

        }

        &.left {
            float: left;
        }
        &.right {
            float: right;
        }

    }

}

